/*
IRANYekanX fonts are considered a proprietary software.
To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com

This set of fonts are used in this project under the license: (KDABXZ)

'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
In case you use this set of fonts in a software product, write the license code in the specified place and place this file next to the fonts.

'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
فونت های ایران‌یکانX يک نرم افزار مالکيتی محسوب می شود جهت آگاهی از قوانين استفاده از اين فونت‌ها لطفاً به  وبسايت
www.fontiran.com
مراجعه نماييد
اين مجموعه فونت تحت اجازه نامه
(KDABXZ)
در اين پروژه استفاده می شود

*/

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanThin.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanThin.woff') format(
                'woff'
            ),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanThin.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanLight.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanLight.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanLight.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanLight.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanLight.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanLight.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanRegular.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanRegular.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanRegular.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanMedium.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanMedium.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanMedium.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanBold.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanBold.woff') format(
                'woff'
            ),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanBold.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanExtraBold.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanExtraBold.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanExtraBold.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanBlack.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanBlack.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanBlack.ttf')
            format('truetype'); // Safari, Android, iOS
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../public/fonts/iran-yekan/woff2/IRANYekanExtraBlack.woff2')
            format('woff2'),
        // Super Modern Browsers
        url('../public/fonts/iran-yekan/woff/IRANYekanExtraBlack.woff')
            format('woff'),
        // Pretty Modern Browser
        url('../public/fonts/iran-yekan/ttf/IRANYekanExtraBlack.ttf')
            format('truetype'); // Safari, Android, iOS
}
